<div class="app" parralaxBackground>
  <div class="parralax-image-holder">
    <div class="parralax-image"></div>
  </div>
  <div class="current-weather">
    <p class="logo">the.weather</p>
    <div class="details">
      <h1>{{ forecast?.list[0]?.temp.day.toFixed() }}&#176;F</h1>
      <p>
        {{ forecast?.city?.name }}
        <span>{{ date }}</span>
      </p>
      <img src="http://openweathermap.org/img/wn/{{ forecast?.list[0].weather && forecast?.list[0].weather[0].icon }}.png" />
    </div>
  </div>
  <div class="menu">
    <input type="text" placeholder="Zip Code"/>
    <section class="weather-details">
      <ul>
        <li>
          <span class="descriptor">No Recent Searches</span>
        </li>
      </ul>
    </section>
    <section class="weather-details">
      <p class="title">Weather Details</p>
      <ul>
        <li>
          <span class="descriptor">Cloudy</span>
          <span class="value">{{ forecast?.list[0]?.clouds }}%</span>
        </li>
        <li>
          <span class="descriptor">Humidity</span>
          <span class="value">{{ forecast?.list[0].humidity }}%</span>
        </li>
        <li>
          <span class="descriptor">Wind</span>
          <span class="value">{{ forecast?.list[0].speed }} mp/H</span>
        </li>
      </ul>
    </section>
    <section class="weather-details">
      <p class="title">Next Days</p>
      <ul>
        <li class="has-list" *ngFor="let item of forecast.list | slice:1;">
          <p class="heading">
            {{ moment.unix(item.dt).calendar(null, {
                lastDay : '[Yesterday]',
                sameDay : '[Today]',
                nextDay : '[Tomorrow]',
                lastWeek : '[last] dddd',
                nextWeek : 'dddd',
                sameElse : 'L'
            }) }}
          </p>
          <ul class="nested">
            <li>
              <span class="descriptor">Cloudy</span>
              <span class="value">{{ item?.temp?.day }} &#176;F</span>
            </li>
            <li>
              <span class="descriptor">Cloudy</span>
              <span class="value">{{ item?.clouds }}%</span>
            </li>
            <li>
              <span class="descriptor">Humidity</span>
              <span class="value">{{ item?.humidity }}%</span>
            </li>
            <li>
              <span class="descriptor">Wind</span>
              <span class="value">{{ item?.speed }} mp/H</span>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>