@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Comfortaa", cursive;
  color: white;
  overflow: hidden;
  position: relative;
}

.app {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.parralax-image-holder {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.5);
}

.parralax-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/sunset.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
